doctype html
html
  head
    title CMS4
    link(rel="stylesheet", href="vendor/angular.treeview.css")
    link(rel="stylesheet", href="vendor/semantic.min.css")
    link(rel="stylesheet", href="css/app.css")
  body(ng-app="cms4"): .cms4

    include app/menu
    .ui.grid
      .row(ng-if="!aws.loggedIn || aws.showAuth")
        .sixteen.wide.column
          include app/auth
      .main.row(ng-if="aws.loggedIn",resize, ng-style="{height: (height-85)+'px' }")
        .five.wide.tree.column
          .ui.green.segment
            .tree(data-angular-treeview='true',
                  data-tree-id='filesTree', data-tree-model='files',
                  data-node-id='Key', data-node-label='name')
        .eleven.wide.viewer.column
          .ui.green.segment(ng-if="file")
            b {{ file.Key }}
            p Test
          .ui.segment(ng-if="!file")
            b Select a file

    script(src="vendor/s3hook.js")
    script(src="vendor/angular.min.js")
    script(src="vendor/angular.treeview.js")
    script(src="vendor/jquery.min.js")
    script(src="vendor/semantic.min.js")
    script(src="js/app.js")
