
html, body
  width 100%
  height 100%
  padding 0
  margin 0
  font-family "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  color: #555555
  text-rendering: optimizeLegibility

.cms4
  
  padding 30px
  select
    padding 10px 5px
    width 100%
    -webkit-appearance none
    border: 1px solid rgba(0,0,0,.15)

  .centered
    text-align center